body {
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

#type-area {
  background-color: bisque;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

span {
  font-size: 1.6rem;
  display: ;
}
